{% extends "core/base.html" %}
{% load static %}
{% block title %}Donation Page{% endblock title %}
{% block extra_head %}
<meta property="og:title" content="{{ page.title }}">
<meta property="og:description" content="Donation Page">
<meta property="og:image" content="{% if page.img %} {{ page.img.url }} {% else %} {% static 'favicon/apple-touch-icon.png' %} {% endif %}">
<meta name="twitter:card" content="summary_large_image">

{% endblock extra_head %}

{% block content %}

	<div class="page-heading text-center">
		<div class="container zoomIn animated">		
			<h1 class="page-title">Donation Page<span class="title-under"></span></h1>
			<p class="page-description">
				Give your Hadiya (Donation) Now, May Allah Bless You
			</p>
		</div>
	</div>

	<div class="main-container">
		<div class="container">
			<div class="row fadeIn animated">
				<div class="col-md-12">               
                    <iframe id="iFrame1"
                        src="https://paystack.com/pay/MSSN"
                        height="900"
                       
                        frameborder="0"
                    >Sorry your browser does not support inline frames.
                    </iframe>

                
				</div>

			</div> <!-- /.row -->
		</div> <!-- /.container -->
	</div>    
	{% endblock content %}

{% block extra_body %}
{% endblock extra_body %}

{% block extra_scripts %}
<script type="application/javascript">

function resizeIFrameToFitContent( iFrame ) {

    iFrame.width  = iFrame.contentWindow.document.body.scrollWidth;
    iFrame.height = iFrame.contentWindow.document.body.scrollHeight;
}

window.addEventListener('DOMContentLoaded', function(e) {

    var iFrame = document.getElementById( 'iFrame1' );
    resizeIFrameToFitContent( iFrame );

    // or, to resize all iframes:
    var iframes = document.querySelectorAll("iframe");
    for( var i = 0; i < iframes.length; i++) {
        resizeIFrameToFitContent( iframes[i] );
    }
} );

</script>

{% endblock extra_scripts %}
